@page
@model LoginModel
@{
    ViewData["Title"] = "Se connecter";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="text-center" style="margin:1%;padding:10px;border:5px outset #0096c7;border-radius:20px;">
    <h3>@ViewData["Title"]</h3>
    <div class="container-fluid">
        <div class="col-md-4" style="width:auto;">
            <form id="account" method="post" class="needs-validation">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div><br />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" id="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div><br />
                <div class="checkbox mb-3" style="float:left;">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div><br />
                <div>
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Se connecter</button>
                </div><br />
                <div class="link-container">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="link-style">Oublier mot de passe?</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-style">S'inscrire en tant qu'un nouveau client</a>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="link-style">Renvoyer email de confirmation</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


